services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file:
      - .env
    environment:
      - DOCUSIGN_PRIVATE_KEY_PATH=/run/secrets/docusign_private_key
    ports:
      - "5000:5000"
    depends_on:
      - redis
    volumes:
      - ./backend:/app # Mount backend code for development
      - db_data:/app/instance
    secrets:
      - docusign_private_key

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app # Mount frontend code for development

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  db_data:

networks:
  default:
    driver: bridge

secrets:
  docusign_private_key:
    file: ./docusign/private.pem