name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        cd backend
        apt-get update && apt-get install -y \
        curl \
        gcc \
        gunicorn \
        libcairo2 \
        libcairo2-dev \
        libpango-1.0-0 \
        libpango1.0-dev \
        libpq-dev \
        libgdk-pixbuf-xlib-2.0-0 \
        libgdk-pixbuf-xlib-2.0-dev \
        libffi-dev \
        shared-mime-info \
        && apt-get clean \
        && rm -rf /var/lib/apt/lists/*
        python -m pip install --upgrade pip
        pip install pylint
        
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py')